<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Mateo2" value="https://slb-it.pkgs.visualstudio.com/_packaging/Mateo2/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Mateo2>
      <add key="Username" value="nuget" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdF6TXTJKoEClr/5WrammzQAAAAACAAAAAAADZgAAwAAAABAAAAA2lG/y0Boe+aAqjZnZv3AhAAAAAASAAACgAAAAEAAAALy6xh62XuAeCiQl4PXc4yw4AAAAsvaWCApkN0wjv7Q/FMmKgJxR0akCUiQJ4Eq7OU1HtbU5J6NI0OeDaopaOYofvdVVko/OTmnedRIUAAAA/Z3t+NigZeIuR9BfmtBpzbIEQlE=" />
    </Mateo2>
  </packageSourceCredentials>
</configuration>