<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>
    <!-- 
    The order of the feeds below matters so don't change it unless you have a good reason.
    Publish only pre-release packages to TLM-Develop according to semver principles: https://semver.org/
    Publish only release packages to TLM-Release according to semver. Release packages
    should be used once the application reaches a QA or PROD environment.
    
    Also, do not specify the <clear/> tag in this file. We want developers to be able
    to specify their own local nuget folder in 
    -->

    <!-- This is where pre-release packages are published-->
    <add key="TLM-Develop"
         value="https://slb-it.pkgs.visualstudio.com/es-TLM-federation/_packaging/TLM-Develop/nuget/v3/index.json" />

    <!-- This is where "official" packages are published-->
    <add key="TLM-Release"
         value="https://slb-it.pkgs.visualstudio.com/es-TLM-federation/_packaging/TLM-Release/nuget/v3/index.json" />

    <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
  </packageSources>
</configuration>